{% extends 'base.html.twig' %}

{%  block title %}
	Page d'accueil
{% endblock %}

{% block body %}
	<div class="container">

		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-6">
				<h1>Bienvenue sur Sportacus !</h1>
				<div class="bg-light py-3 px-3   text-center">
				<h2>Page d'accueil en cours de faisation </h2>
				</div>
			</div>
		</div>
	</div>
</div>{% endblock %}
