{% extends 'base.html.twig' %}


{% block body %}
<div class="container-fluid">

<h2>Sporta-publicus</h2><br>
<h4>Partagez votre passion !</h4>
<br>

{#
<p>{{ app.user.firstName }} a partagé ce programme : </p>
 {{ app.user.program }} 
 #}



{# COMMENT SECTION #}

{% include 'comment_form.html.twig' %}


</div>
{% endblock %}
