<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Sportacus -
			{% block title %}Welcome!
			{% endblock %}
		</title>
		<link rel="stylesheet" href="/css/bootstrap.min.css">
	
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ=" crossorigin="anonymous" />

		<link rel="stylesheet" href="/css/app.css"> {% block stylesheets %}{% endblock %}
		</head>
		<body>
			{% include 'admin/common/header.html.twig' %}

			{% block body %}{% endblock %}

			{% include 'admin/common/footer.html.twig' %}


			<script src="/js/jquery.min.js"></script>
			<script src="/js/popper.min.js"></script>
			<script src="/js/bootstrap.min.js"></script>
			{% block javascripts %}{% endblock %}
		</body>
	</html>
