{% extends 'blog_base.html.twig' %}

{% block body %}
<h1>{{ title }}</h1>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste autem iusto quisquam praesentium deserunt non aspernatur? Vitae praesentium impedit quam ut quod repudiandae, sit repellendus velit ab vel rerum, temporibus atque minima numquam deserunt harum minus optio alias ducimus incidunt.</p>
<p>Distinctio quos, quas, itaque fuga eveniet tempore molestias tenetur numquam quod illo quia debitis quibusdam nostrum sequi reprehenderit dolorum aut! Culpa magnam aperiam accusamus voluptatum sequi cum quia error temporibus fugit, inventore sint quam, porro fugiat cupiditate. Voluptas, quo earum.</p>

{% endblock %}
