<footer class="mt-5 bg-transparent pt-5 text-center">
	<div style="background-color: #1a1a1a;color: white;">

		<p class="pt-4 text-center ">Suivez-nous !</p>

		<div class="d-flex justify-content-around py-5 text-center">

			<a href="https://www.facebook.com/Sportacus-110055143826869/?view_public_for=110055143826869">
				<i style="font-size: xx-large; color: white;" class="fab fa-facebook"></i>
			</a>

			<a href="https://twitter.com/">
				<i style="font-size: xx-large; color: white;" class="fab fa-twitter"></i>
			</a>

			<a href="https://www.instagram.com/">
				<i style="font-size: xx-large; color: white;" class="fab fa-instagram"></i>
			</a>

		</div>

		<p>#Team Sportacus</p>
	</footer>
